@import "toast.scss";

@font-face {
    font-family: hk-grotesk;
    font-weight: 200;
    src: url(../assets/fonts/HKGrotesk-Light.woff2);
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 400;
    src: url(../assets/fonts/HKGrotesk-Regular.woff2);
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 600;
    src: url(../assets/fonts/HKGrotesk-Medium.woff2);
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 700;
    src: url(../assets/fonts/HKGrotesk-SemiBold.woff2);
}

@font-face {
    font-family: hk-grotesk;
    font-weight: 800;
    src: url(../assets/fonts/HKGrotesk-Bold.woff2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: hk-grotesk , sans-serif;
  --black: #212121;
  --light-grey: #F3F3F5;
  --header-height : 90px;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;

  --shadow-small: 0 5px 10px rgba(0,0,0,0.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,0.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,0.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,0.12);
}

a {
  text-decoration: none;
}


@keyframes skeleton-glow {
  0% {
      background: rgba(206,217,224,.2);
      border-color: rgba(206,217,224,.2)
  }

  to {
      background: rgba(92,112,128,.2);
      border-color: rgba(92,112,128,.2)
  }
}

.skeleton{
  animation: skeleton-glow 1s linear infinite alternate;
  background: rgba(206,217,224,.2);
  background-clip: padding-box!important;
  border-color: rgba(206,217,224,.2)!important;
  border-radius: 2px;
  box-shadow: none!important;
  color: transparent!important;
  cursor: default;
  pointer-events: none;
  user-select: none;
  border:none !important;
}


input::placeholder{
  color: var(--accents-3);
  opacity: 0.8;
}